<%= form_for(@sub_aprtment_image) do |f| %>
  <% if @sub_aprtment_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_aprtment_image.errors.count, "error") %> prohibited this sub_aprtment_image from being saved:</h2>

      <ul>
      <% @sub_aprtment_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :sub_apartment %><br />
    <%= f.text_field :sub_apartment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
